<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userItem">
            <h2><span>User Item</span> {{ userItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Learned</span></dt>
                <dd>
                    <span>{{ userItem.learned }}</span>
                </dd>
                <dt><span>Correct Answers</span></dt>
                <dd>
                    <span>{{ userItem.correctAnswers }}</span>
                </dd>
                <dt><span>Wrong Answers</span></dt>
                <dd>
                    <span>{{ userItem.wrongAnswers }}</span>
                </dd>
                <dt><span>Last Correct Answer</span></dt>
                <dd>
                    <span>{{ userItem.lastCorrectAnswer }}</span>
                </dd>
                <dt><span>Planned Reminder</span></dt>
                <dd>
                    <span>{{ userItem.plannedReminder }}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="userItem.item">
                        <a [routerLink]="['/item', userItem.item?.id, 'view']">{{ userItem.item?.id }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ userItem.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-item', userItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
