<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span>Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Word</span></dt>
                <dd>
                    <span>{{ item.word }}</span>
                </dd>
                <dt><span>Translation</span></dt>
                <dd>
                    <span>{{ item.translation }}</span>
                </dd>
                <dt><span>Example Sentence</span></dt>
                <dd>
                    <span>{{ item.exampleSentence }}</span>
                </dd>
                <dt><span>Translation Example Sentence</span></dt>
                <dd>
                    <span>{{ item.translationExampleSentence }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="item.image">                        
                        <img [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-width: 25%%;" alt="item image"/>                        
                    </div>
                </dd>
                <dt><span>Audio</span></dt>
                <dd>
                    <div *ngIf="item.audio" >
                        <a (click)="openFile(item.audioContentType, item.audio)">open</a>
                        {{ item.audioContentType }}, {{ byteSize(item.audio) }}
                    </div>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <div *ngIf="item.course">
                        <p>{{ item.course?.name }}</p>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
