<dl class="row-md jh-entity-details">
    <dt><span>Name</span></dt>
    <dd><span>{{ user?.firstName }} {{ user?.lastName }}</span></dd>
    <dt><span>Courses</span></dt>
    <dd><span>{{ coursesAmount }}</span></dd>
</dl>

<div *ngIf="courses && courses.length > 0">
    <h1>Ahoj</h1>
    <table class="table table-striped" aria-describedby="page-heading">
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course?.name }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" [routerLink]="['/course/', course.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>